<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{t "Based on"}} <a href="https://ghost.org" target="_blank">Ghost</a> |
                    {{t "Theme Repository"}} <a href="https://github.com/sdvina/ghost-portal/" target="_blank">ghost-portal</a>
                    <iframe src="https://ghbtns.com/github-btn.html?user=sdvina&repo=ghost-portal&type=star&count=true"
                            style="border: 0; margin-left: 3px; margin-bottom: -5px;"
                            width="120"
                            height="20"
                            title="GitHub">
                    </iframe>
                </p>
                {{#author}}
                    <p>{{name}}<span class="all-rights-reserved">&copy; 2022-2023 • All rights reserved.</span></p>
                {{/author}}
            </div>
        </div>
    </div>
</div>