{{!< default}}
<main>
    <div class="row align-items-stretch">
        {{#foreach posts}}
            <div class="card mb-4 col-6 border-0">
                {{> "loop"}}
            </div>
        {{/foreach}}
    </div>
</main>