{{!< default}}
<main>
    <div class="flex-lg-row flex-column=2 flex-md-grow-1">
        {{#foreach posts}}
        <div class="card mb-4 border-0">
            {{> "loop"}}
        </div>
        {{/foreach}}
    </div>
</main>