{{!< default}}

<main>
    <div class="card mb-4 border-0">
        {{#post}}
        <article>

            <header >
                <h1 class="h4 text-start">{{title}}</h1>

                {{#if custom_excerpt}}
                    <p>{{custom_excerpt}}</p>
                {{/if}}

                {{> "post-image"}}
            </header>

            <div >
                {{content}}
            </div>

        </article>
        {{/post}}
    </div>
</main>