<!-- Side widgets-->
<div class="col-lg-4">
    <!-- Avatar -->
    <div class="card mb-4">
        <div class="card-body">
        </div>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header text-center">Categories</div>
        <div class="card-body">
            <div class="row">
                {{tags visibility="all"}}
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header text-center">Side Widget</div>
        <div class="card-body">

        </div>
    </div>
    <p class="text-muted text-center">{{@site.title}} © {{date format="YYYY"}}</p>
</div>